body {
  background-color: #c4c6b9;
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: #161669;
  font-weight: 900;
  letter-spacing: 40px;
  text-align: right;
}

h2 {
  clear: both;
  background-color: #5D6336;
  color: white;
}

img.primera {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.tercera {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}


p.centro {
  text-align: center;
}
